.fields {
  border: 3px solid $secondary;
  border-radius: 10px;
  padding: 0px 80px;
  height: 60px;
  margin-left: 20px;
}

.form{
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 20px;
}